.review {
  padding: 140px 0 0;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1020px) {
  .review-container {
    padding: 310px 0 210px;
    max-width: 1070px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
  }
}
.review-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1020px) {
  .review-group {
    width: 490px;
    padding-left: 80px;
    align-items: flex-start;
  }
}
.review-title {
  transition: font-size 1s, line-height 1s, letter-spacing 1s;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -1px;
  font-weight: 600;
  text-align: center;
  color: #212529;
}
@media screen and (min-width: 1020px) {
  .review-title {
    font-size: 52px;
    padding: 100px 0 0;
    transition: font-size 1s;
    line-height: 70px;
    letter-spacing: -2.89px;
    text-align: left;
    box-sizing: border-box;
    font-weight: 700;
  }
}
.review-desc {
  color: #212529;
  text-align: center;
  padding-top: 15px;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -1px;
}
@media screen and (min-width: 1020px) {
  .review-desc {
    font-size: 18px;
    padding: 30px 0 0;
    max-width: 1070px;
    text-align: left;
    box-sizing: border-box;
    line-height: 29px;
  }
}
.review-area {
  position: relative;
  padding-top: 30px;
  text-align: center;
}
@media screen and (min-width: 1020px) {
  .review-area {
    width: 100%;
    padding-top: 40px;
    left: -19px;
    text-align: left;
    display: block;
    max-width: 580px;
    margin: 0 auto;
    transform: translate(0);
  }
}
.review-tag {
  display: inline-block;
  height: 40px;
  margin: 15px 0 0 -4px;
  padding: 0 18px;
  border-radius: 30px;
  color: #c8c8c8;
  font-size: 21px;
  line-height: 40px;
}
@media screen and (min-width: 1020px) {
  .review-tag {
    position: relative;
    height: 50px;
    margin-top: 0;
    font-size: 34px;
    line-height: 51px;
    letter-spacing: -1.89px;
  }
}
.review-tag-list {
  display: inline;
}
@media screen and (min-width: 1020px) {
  .review-tag-list {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 20px;
    white-space: nowrap;
  }
}
.review-tag[aria-selected=false] {
  background: transparent;
  color: #c8c8c8;
  transition: background 1s, color 1s;
}
.review-tag[aria-selected=true] {
  background: #7edc65;
  color: #fff;
  transition: background 1s, color 1s;
}
.review-card {
  overflow: hidden;
  width: 250px;
  height: 472px;
  margin: 55px auto 98px;
  border-radius: 20px;
  box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05), 0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.05);
}
@media screen and (min-width: 1020px) {
  .review-card {
    min-width: 360px;
    min-height: 680px;
  }
}
.review-card-viewport {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  border-radius: 20px;
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
}
.review-card-wrap {
  width: 100%;
  white-space: nowrap;
  transition-duration: 1s;
  font-size: 0;
}
.review-card-inner {
  display: inline-block;
  margin: 0;
  font-size: 16px;
}
.review-card-video {
  width: 100%;
}
