html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a,
blockquote,
body,
button,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
select,
strong,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  word-break: keep-all;
}

strong {
  font-weight: 700;
}

.top-contents-main {
  width: 100vw;
  top: 50vh;
  text-align: center;
  position: fixed;
  z-index: 9;
}
.top-contents-title {
  color: #fff;
}
.top-contents-desc {
  color: #fff;
  font-weight: 700;
  letter-spacing: -1px;
}
.top-contents-sub {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  z-index: 3;
}
.top-contents-sub .top-contents-desc {
  color: #fff;
  font-weight: 700;
}

.main-visual-backdrop {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translate3d(0px, -40%, 0px);
  z-index: 3;
}

li,
ol,
ul {
  list-style: none outside;
}

.review {
  padding: 140px 0 0;
}
@media screen and (min-width: 1020px) {
  .review {
    padding: 310px 0 210px;
    max-width: 1070px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 50px;
  }
}
.review-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1020px) {
  .review-group {
    width: 490px;
    padding-left: 40px;
    align-items: flex-start;
  }
}
.review-title {
  transition: font-size 1s, line-height 1s, letter-spacing 1s;
  transition: font-size 1s, line-height 1s, letter-spacing 1s;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -1px;
  font-weight: 600;
  text-align: center;
  color: #212529;
}
@media screen and (min-width: 1020px) {
  .review-title {
    font-size: 52px;
    padding: 100px 0 0;
    transition: font-size 1s;
    line-height: 70px;
    letter-spacing: -2.89px;
    text-align: left;
    box-sizing: border-box;
    font-weight: 700;
  }
}
.review-desc {
  color: #212529;
  text-align: center;
  padding-top: 15px;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -1px;
}
@media screen and (min-width: 1020px) {
  .review-desc {
    font-size: 18px;
    padding: 30px 0 0;
    max-width: 1070px;
    text-align: left;
    box-sizing: border-box;
    line-height: 29px;
  }
}
.review-area {
  position: relative;
  padding-top: 30px;
  text-align: center;
}
@media screen and (min-width: 1020px) {
  .review-area {
    width: 100%;
    padding-top: 40px;
    left: -19px;
    text-align: left;
    display: block;
    max-width: 580px;
    margin: 0 auto;
    transform: translate(0);
  }
}
.review-tag {
  display: inline-block;
  height: 40px;
  margin: 15px 0 0 -4px;
  padding: 0 18px;
  border-radius: 30px;
  color: #c8c8c8;
  font-size: 21px;
  line-height: 40px;
}
@media screen and (min-width: 1020px) {
  .review-tag {
    position: relative;
    height: 50px;
    margin-top: 0;
    font-size: 34px;
    line-height: 51px;
    letter-spacing: -1.89px;
  }
}
.review-tag-list {
  display: inline;
}
@media screen and (min-width: 1020px) {
  .review-tag-list {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 20px;
    white-space: nowrap;
  }
}
.review-tag[aria-selected=true] {
  background: #7edc65;
  color: #fff;
}
.review-card {
  overflow: hidden;
  width: 250px;
  height: 472px;
  margin: 55px auto 98px;
  border-radius: 20px;
  box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05), 0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.05);
}
@media screen and (min-width: 1020px) {
  .review-card {
    min-width: 360px;
    min-height: 680px;
  }
}
.review-card-viewport {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  border-radius: 20px;
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
}
.review-card-wrap {
  width: 100%;
  white-space: nowrap;
  transition-duration: 1s;
  font-size: 0;
}
.review-card-inner {
  display: inline-block;
  margin: 0;
  font-size: 16px;
}
.review-card-video {
  width: 100%;
}
