// break point
$mobileX: 480;
$mobile: 768;
$tablet: 1019;

// color
$theme: #7edc65;

$text-default: #212529;
$text-gray: #c8c8c8;
$text-darkgray: #888;
$text-white: #fff;

$bg-skyblue: #f3fbfb;

$shadow-default: rgba(0, 0, 33, 0.05);
