/* filter-box 3개가 들어있는 body-container*/
.body-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #daffc7;

  /* scroll-snap */
  flex-direction: row;
  overflow: auto hidden;
  scroll-snap-type: x mandatory;
}

.body-container::-webkit-scrollbar {
  background-color: #fff;
  height: 4px;
  width: 4px;
}
.body-container::-webkit-scrollbar-track {
  background-color: #fff;
}
.body-container::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 4px;
}

/* filter-box-container 애니메이션 효과를 정의하는 @keyframes 규칙 */
@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* 필터 box 한칸이 들어있는 container */
.filter-box-container {
  background-color: #ffffff;
  padding: 20px;
  margin-right: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  animation: slideIn 1s ease-in-out;

  /* scroll-snap */
  scroll-snap-align: start;
  min-width: 80%;
  min-height: 600px;
}

/* 제품 카테고리 버튼이 들어있는 container */
.select-category-button-container {
  overflow: hidden;
}

/* 방향 조절 버튼이 들어있는 container */
.control-button-container {
  display: flex;
  justify-content: center;
}

/* 서브 카테고리 버튼이 들어있는 container*/
.select-subcategory-button-container {
  max-height: 500px;
  overflow: auto;
}

.filter-box-header {
  text-align: center;
  font-size: 1.5em;
  border: solid 1px white;
  border-bottom-color: lightgray;
}

/* 3d carousel slider container*/
.scene {
  /* margin: 40px 0; */
  position: relative;
  width: 210px;
  height: 140px;
  margin: 40px auto;
  perspective: 1000px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-207px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

/* 다음 페이지로 넘어가는 버튼이 들어있는 container */
.next-page-button-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

/* 반응형 */
@media screen and (max-width: 768px) {
  .filter-box-container {
    width: 600px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1019px) {
  .filter-box-container {
    width: 700px;
  }
}

@media screen and (min-width: 1020px) {
  .filter-box-container {
    width: 800px;
  }
}
