.menu__button {
  display: none;
}
@media screen and (max-width: 768px) {
  .menu__button {
    display: block;
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}
.menu .list {
  display: flex;
  justify-content: flex-end;
}
.menu .list .item {
  padding: 24px 18px;
  color: #fff;
  font-size: 18px;
}
@media screen and (min-width: 1020px) {
  .menu .list .item {
    padding: 24px 30px;
    color: #fff;
    font-size: 18px;
  }
}
.menu .list .item:hover {
  font-size: 24px;
  transition: font-size 0.5s;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
