/* ---------- container ----------*/
/* body-container */
.body-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #f2f2f2;

  /* scroll-snap */
  flex-direction: row;
  overflow: auto hidden;
  scroll-snap-type: x mandatory;
}

.body-container::-webkit-scrollbar {
  background-color: #fff;
  height: 4px;
  width: 4px;
}
.body-container::-webkit-scrollbar-track {
  background-color: #fff;
}
.body-container::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 4px;
}

/* filter-box-container 애니메이션 효과를 정의하는 @keyframes 규칙 */
@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* filter-box-container */
.filter-box-container {
  background-color: #ffffff;
  padding: 20px;
  margin-right: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  animation: slideIn 1s ease-in-out;

  /* scroll-snap */
  scroll-snap-align: start;
  min-width: 80%;
  min-height: 600px;
}

.select-category-button-container {
  overflow: hidden;
}

/* 방향 조절 버튼 container */
.control-button-container {
  display: flex;
  justify-content: center;
}

/* 서브 카테고리 버튼 container*/
.select-subcategory-button-container {
  max-height: 500px;
  overflow: auto;
}

.filter-box-header {
  text-align: center;
  font-size: 1.5em;
  border: solid 1px white;
  border-bottom-color: lightgray;
}

/* 3d carousel slider container*/
.scene {
  /* margin: 40px 0; */
  position: relative;
  width: 210px;
  height: 140px;
  margin: 40px auto;
  perspective: 1000px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-207px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

/* ---------- button ----------*/
/* 필터 버튼 공통 속성 및 css 설정*/
.select-year-button-container button,
.select-category-button-container .category-button,
.select-subcategory-button-container button {
  width: 190px;
  height: 120px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: lightgray;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: border 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* hover 설정 */
.year-button:hover,
.subcategory-button:hover {
  color: #7edc65;
  background-color: white;
  border: solid 2px #7edc65;
  border-radius: 20px;
}

/* 제품 카테고리 선택 버튼 */
.category-button {
  position: absolute;
  left: 10px;
  top: 10px;
}

/* 각 제품 카테고리 선택 버튼의 위치 조절 */
.category-button:nth-child(1) {
  transform: rotateY(0deg) translateZ(385px);
}
.category-button:nth-child(2) {
  transform: rotateY(30deg) translateZ(385px);
}
.category-button:nth-child(3) {
  transform: rotateY(60deg) translateZ(385px);
}
.category-button:nth-child(4) {
  transform: rotateY(90deg) translateZ(385px);
}
.category-button:nth-child(5) {
  transform: rotateY(120deg) translateZ(385px);
}
.category-button:nth-child(6) {
  transform: rotateY(150deg) translateZ(385px);
}
.category-button:nth-child(7) {
  transform: rotateY(180deg) translateZ(385px);
}
.category-button:nth-child(8) {
  transform: rotateY(210deg) translateZ(385px);
}
.category-button:nth-child(9) {
  transform: rotateY(240deg) translateZ(385px);
}
.category-button:nth-child(10) {
  transform: rotateY(270deg) translateZ(385px);
}
.category-button:nth-child(11) {
  transform: rotateY(300deg) translateZ(385px);
}
.category-button:nth-child(12) {
  transform: rotateY(330deg) translateZ(385px);
}
.category-button:nth-child(13) {
  transform: rotateY(360deg) translateZ(385px);
}

.previous-button,
.next-button {
  margin: 10px;
}

.select-category-button:hover {
  color: #7edc65;
  background-color: white;
  border: solid 2px #7edc65;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .filter-box-container {
    width: 600px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1019px) {
  .filter-box-container {
    width: 700px;
  }
}

@media screen and (min-width: 1020px) {
  .filter-box-container {
    width: 800px;
  }
}
