body {
  display: block;
}

.select-category-button-container {
  overflow: hidden;
  position: relative;
  transform-origin: 0 0;
}

.category-button {
  display: block;
  width: 220px;
  height: 310px;
  position: absolute;
}
