body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.scroll-container {
  overflow: scroll;
  /* 가로 스크롤 스냅 활성화 */
  scroll-snap-type: x mandatory;
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
}

.circle-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 뷰포트의 가운데로 스냅 */
  scroll-snap-align: center;
  transition: transform 0.3s ease;
}

.category-button {
  position: absolute;
  width: 200px;
  height: 300px;
  background-color: lightgray;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  /* 텍스트 정렬 */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* 마우스 올렸을 때 효과: hover */
  transition: border 0.2s ease-in-out, color 0.2s ease-in-out;
  /* 버튼 간의 각도 조절 */
  transform: translate(100px) rotate(calc(var(--angle, 0deg) * 1deg));
  margin: 20px;
}

.category-button:hover {
  color: #7edc65;
  background-color: white;
  border: solid 2px #7edc65;
}

/* 각 버튼의 위치 조절 */
.category-button:nth-child(1) {
  --angle: 0;
}
.category-button:nth-child(2) {
  --angle: 30;
}
.category-button:nth-child(3) {
  --angle: 60;
}
.category-button:nth-child(4) {
  --angle: 90;
}
.category-button:nth-child(5) {
  --angle: 120;
}
.category-button:nth-child(6) {
  --angle: 150;
}
.category-button:nth-child(7) {
  --angle: 180;
}
.category-button:nth-child(8) {
  --angle: 210;
}
.category-button:nth-child(9) {
  --angle: 240;
}
.category-button:nth-child(10) {
  --angle: 270;
}
.category-button:nth-child(11) {
  --angle: 300;
}
.category-button:nth-child(12) {
  --angle: 330;
}
.category-button:nth-child(13) {
  --angle: 360;
}
