.fadeinleft {
    opacity: 0;
    margin-left: -300px;
    max-width: 100%;
    transition: opacity 1s, margin-left 1s;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #f2f2f2;
    overflow: scroll;
  }
  
  * {
    font-family: applegothicM;
  }
  
  .top-container {
    background-color: #ffffff;
    padding: 20px;
    margin: 2vw;
    margin-top: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
  }
  
  .body-container {
    display: flex;
    /* justify-content: center;
          align-items: center; */
    height: 95vh;
    margin: 0;
    position: relative;
    /* background-color: white; */
    /* #f2f2f2; */
  }
  
  .stamp{
    position: absolute;
    width:13%;
    top:-5%;
    left:43%;
    animation-name: stampani;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function:ease; iteration-count direction fill-mode;
  }
  @keyframes stampani {
    0%{transform: scale(1); opacity: 0;}
    90%{transform: scale(5); opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
    
  }
  
  .text-container {
    justify-content: center;
    padding: 2%;
    width: 45%;
    height: 95vh;
  }
  
  .images {
    padding-top: 2%;
    padding-left: 2%;
    height: 90%;
    width: 55%;
   
  }
  
  .mainImage {
    width: 92%;
    height: 72%;
  }
  .sideImage {
    padding: 3%;
    width: 94%;
    height: 25%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .sideImage img {
    width: 20%;
    height: 90%;
    padding: 2%;
  }
  .sideImage img:hover {
    width: 25%;
    height: 95%;
  }
  
  body,
  button,
  div,
  h1,
  li,
  ol,
  p,
  ul,
  a {
    margin: 0;
    padding: 0;
    font: 13px "applegothicM";
    line-height: 1;
    color: #000;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .goods-name {
    display: flex;
    width: 100%;
  }
  
  .goods-name a {
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    width: 100%;
    word-break: keep-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
    letter-spacing: -1px;
  }
  
  .text-bg-secondary {
    background-color: #7edc65 !important;
  }
  
  .badge:nth-of-type(2) {
    background-color: #abc8ea !important;
  }
  
  .badge {
    --bs-badge-font-weight: 500;
  }
  :root {
    --bs-border-radius: 0.6rem;
  }
  
  .buttons {
    padding-top: 3%;
    padding-bottom: 2%;
  }
  .btn-hover {
    width: 80px;
    font-size: 8px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-right: 3px;
    height: 25px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
  
    border-radius: 50px;
    --moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .btn-hover:hover {
    background-position: 100% 0;
    --moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
  
  .btn-hover:focus{
    outline: none;
  }
  
  .btn-hover.color-1 {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #40e495,
      #30dd8a,
      #2bb673
    );
  }
  
  #explanation {
    padding-top: 20px;
    line-height: 1.8;
    color: #555;
    max-height: 70vh; /* 최대 높이를 뷰포트의 80%로 설정 */
    overflow: hidden; /* 내용이 넘칠 경우 스크롤 숨김 */
  }
  
  
  
  .allIngredient {
    font-size: 12px;
    color: rgb(150, 150, 150);
    height: 50%;
    line-height: normal;
  }
  
  .allIngredient span {
    background-color: #bdeeb0;
  }
  
  .price {
    font-size: 26px;
    font-weight: 550;
    color: rgb(74, 74, 74);
  }
  
  .price span {
    font-size: 21px;
  }
  
  .old-price {
    text-decoration: line-through;
    font-size: 16px !important;
    color: gray;
    font-weight: 500;
  }
  
  .old-price-won {
    color: gray;
    text-decoration: none;
    font-size: 15px !important;
    font-weight: 400;
  }
  
  hr {
    border-top: 1px solid #858585;
  }
  
  strong {
    font-size: 15px;
    font-weight: 600;
    color: rgb(74, 74, 74) !important;
  }
  
  ul {
    padding-inline: 40px;
  }
  
  .cura_pord + .prd_detail_tab {
    margin-top: 40px;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  .prd_detail_tab {
    height: 51px;
    /* margin: 60px 0 0; */
  }
  .prd_detail_tab > li > a {
    display: block;
    height: 50px;
    text-align: center;
    font-size: 16px;
    color: #777;
    background: #f5f5f5;
    padding: 17px 0 0;
    font-weight: 700;
  }
  .prd_detail_tab > li {
    float: left;
    width: 50%;
  }
  
  .prd_detail_tab > li.on > a {
    border: 2px solid #bdeeb0 !important;
    height: 51px !important;
    border-bottom: 0 !important;
    color: #333 !important;
    padding: 15px 0 0 !important;
    background: #fff !important;
  }
  
  #productDescription {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2vw;
    align-items: center;
    flex-direction: column;
  }
  #productDescription img {
    width: 40vw;
    height: 45vh;
    padding: 1em;
  }
  
  #stacked-example-4 {
    height: 250px;
    max-width: 450px;
    margin: 0 auto;
    --heading-size: 2.5rem;
    --color-1: #bdeeb0;
    --color-2: rgba(232, 232, 232, 0.6);
  }
  
  #custom-effect tbody td {
    border-radius: 30px;
  }
  
  .on {
    /* 원하는 스타일을 추가하세요 */
    background-color: #bdeeb0;
    color: #fff;
    font-weight: bold;
  }
  
  #stacked-example-4 caption {
    font-weight: bold;
  }
  th {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -1px;
    color: #777;
  }
  td span {
    padding: 10px;
    color: #777;
  }
  caption {
    font-size: 16px;
    text-align: center;
    font-weight: 500;
  }
  
  .included {
    border-radius: 10px;
  }
  .excluded-1 {
    border-radius: 10px 10px 0 0;
    border-radius: 0 0 10px 10px;
  }
  
  .excluded-2 {
    border-radius: 10px 10px 0 0;
  }
  
  @media screen and (max-width: 768px) {
    .goods-name a {
      font-size: 18px;
    }
    .stamp{
      width:20%;
      top:-2%;
      left:37%;
    }
    #productDescription img {
      width:80vw;
    }
  }
  
  @media screen and (min-width: 769px) {
  }
  
  @media screen and (min-width: 1020px) {
    /* .allIngredient {
      font-size: 15px;
    }
    strong {
      font-size: 16px;
    }
    .goods-name {
      font-size: 28px;
    }
    body,
    #explanation {
      font-size: 15px;
    } */
  }
  
  /* .nav img {
    width: 20px;
    height: 20px;
    position: relative;
    align-content: center;
  
    display: block;
  }
  
  .nav {
    --bs-nav-link-color: rgb(119, 119, 119);
    background-color: white;
  }
  
  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
   